$chei: 150px;

.Shelf {
	font-size: 0;
}
.new-one {
	margin: 10px;
}

.Help {
	margin: 0 0 10px 0;
	.line {
		margin: 0 0 0 20px;
		box-sizing: border-box;
		width: min-content;
		padding: 0 10px;
		white-space: nowrap;
		line-height: 26px;
		font-size: 16px;
		&:hover {
			background-color: rgb(230, 230, 230);
		}
	}
}
.FindBar {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	padding: 0 10px;
	align-items: flex-end;
	justify-content: space-between;
	.FindParam {
		display: flex;
		margin-top: -30px;
		align-items: flex-end;
		.item {
			margin: 0 0 0 10px;
			width: 140px;
		}
	}
}

.AppList {
	box-sizing: border-box;
	width: 100%;
	min-height: 100vh;
	padding: 0 0 10px;

	.card {
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 10px 0 0 10px;
		overflow: hidden;
		box-sizing: border-box;
		height: 150px;
		background-color: #a5b9d1;
		user-select: none;
		&:hover {
			outline: 2px solid #66ccff;
			outline-offset: -1px;
		}
		.imgbox {
			overflow: hidden;
			box-sizing: border-box;
			width: 100%;
			height: 120px;
			padding: 10px;
			background-color: #a5b9d1;
			text-align: center;

			.img {
				height: 100%;
			}
		}
		.src {
			box-sizing: border-box;
			width: 100%;
			height: 120px;
			padding: 36px 10px 0 10px;
			font-size: 16px;
			color: gray;
			word-break: break-all;
		}
		.name {
			height: 30px;
			line-height: 30px;
			background-color: #8dacd3;
			text-align: center;
			color: rgb(0, 0, 0);
			font-size: 16px;
		}

		.focu {
			display: none;
		}
	}
	.hover {
		.src {
			color: black;
		}
		.parse {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			padding: 5px 10px;
			background-color: #8dacd3;
			font-size: 16px;
			color: #000000;
			cursor: pointer;
			&:hover {
				background-color: #75a0d4;
			}
		}
	}
	.focu {
		outline: 2px solid #f00000;
		outline-offset: -1px;
	}
	.tools {
		display: flex;
		width: 100%;
		height: 30px;
		line-height: 30px;
		background-color: #8dacd3;
		align-items: center;
		.item {
			flex-grow: 1;
			text-align: center;
			font-size: 14px;
			cursor: pointer;
			&:hover {
				background-color: #709fda;
			}
		}
		.itemf {
			background-color: #709fda;
		}
	}
	.extend {
		position: absolute;
		left: 0;
		top: 0;
		box-sizing: border-box;
		width: 100%;
		height: 120px;
		padding: 10px;
		background-color: #a5b9d1;
		font-size: 14px;
	}
	.TheInfor {
		.line {
			text-indent: 20px;
			color: #ee0000;
		}
	}
	.ThePreview {
		overflow-y: auto;
		.img {
			width: 100%;
		}
	}
	.TheScripts {
		overflow-y: auto;
	}
}

.TheOpen {
	.openbtn {
		display: inline-block;
		vertical-align: top;
		margin: 0;
		width: 50%;
		line-height: 30px;
		font-size: 14px;
		cursor: pointer;
		opacity: 0.8;
		&:hover {
			opacity: 1;
			color: #347b9e;
		}
	}
	.danger {
		color: red;
	}
}
