.Shelf {
	font-size: 0;
}
.new-one {
	margin: 10px;
}

.Help {
	margin: 10px;
	.line {
		margin: 0;
		line-height: 26px;
		font-size: 16px;
		&:hover {
			background-color: rgb(230, 230, 230);
		}
	}
}
.Bar {
	margin: 10px;
}

.AppList {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	padding: 0 10px;
	flex-wrap: wrap;
	justify-content: space-between;

	.one {
		position: relative;
		margin: 10px 0 0;
		overflow: hidden;
		box-sizing: border-box;
		padding: 10px;
		white-space: nowrap;
		.left {
			display: inline-block;
			vertical-align: top;
			.line {
				display: flex;
				width: 100%;
				font-size: 16px;
				color: rgb(0, 0, 0);
				.label {
					white-space: nowrap;
					&::after {
						content: ':';
						padding-right: 10px;
					}
				}
				.canclk {
					color: blue;
					cursor: pointer;
					&:hover {
						color: red;
					}
				}
			}
		}
	}
	.list {
		width: 100%;
		height: 200px;
		background-color: #a5b9d1;

		.line {
			line-height: 36px;
			align-items: center;
		}
		.imgbox {
			float: right;
			height: 100%;
			.img {
				height: 100%;
			}
		}
	}
	.card {
		width: calc(33.33% - 7px);
		&:hover {
			background-color: #a5b9d1;
		}
		.line {
			line-height: 26px;
			align-items: flex-start;
			.value {
				white-space: pre-line;
			}
		}
		.imgbox {
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			overflow: hidden;
			width: 100%;
			height: 100%;
			background-color: #a5b9d1;

			.img {
				height: 100%;
				opacity: 0.5;
			}
		}
	}
}
