.IviewAdmin {
	display: flex;
	width: 90vw;
	height: 80vh;
	font-size: 16px;
	user-select: none;
	tab-size: 4;
	.block {
		margin: 0 0.5vw;
		overflow-y: auto;
		box-sizing: border-box;
		height: 80vh;
		padding: 10px;
		background-color: #a5b9d1;
	}
}
.Router {
	width: 16vw;
	.line {
		&:hover {
			background-color: #72a0d8;
		}
	}
}

.Ctrl {
	width: 16vw;
	.splitline {
		margin: 10px 20px;
		height: 1px;
		background-color: rgb(255, 255, 255);
	}
}

.Preview {
	min-width: 16vw;
	white-space: pre;
}
