.IviewAdmin {
	display: flex;
	width: 90vw;
	height: 80vh;
	font-size: 16px;
	user-select: none;
	tab-size: 4;
}
.Router {
	overflow-y: auto;
	box-sizing: border-box;
	width: 16vw;
	height: 80vh;
	padding: 10px;
	background-color: #a5b9d1;
	.line {
		&:hover {
			background-color: #72a0d8;
		}
	}
}

.Preview {
	margin: 0 0.5vw;
	overflow-y: auto;
	box-sizing: border-box;
	min-width: 16vw;
	height: 80vh;
	padding: 10px;
	background-color: #a5b9d1;
	white-space: pre;
}
