.Focu {
	font-size: 20px;
}

.Infor {
	margin: 20px;
}

.UniWx {
	.page {
		background-color: rgb(228, 228, 228);
	}
	.addpage {
		display: flex;
		align-items: flex-end;
	}
}

.IviewAdmin {
	font-size: 16px;
	user-select: none;
	.Router {
		white-space: pre;
		.path {
			height: 30px;
			line-height: 30px;
			&:hover {
				background-color: rgb(235, 235, 235);
			}
		}
	}
}
